<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="terminals-menu" label="Terminals">
  <item label="UXTerm / ST">
    <action name="Execute"><command>uxterm -e /bin/sh -l</command></action>
  </item>
  <item label="URxvt (rxvt-unicode)">
    <action name="Execute"><command>urxvt -e /bin/sh -l</command></action>
  </item>
  <item label="tmux (Terminal Multiplexer)">
    <action name="Execute"><command>uxterm -T "tmux session" -e tmux</command></action>
  </item>
</menu>

<menu id="files-menu" label="Files">
  <item label="Browse /root (Terminal)">
    <action name="Execute"><command>uxterm -e sh -c "cd /root; ls -la; exec /bin/sh -l"</command></action>
  </item>
</menu>

<menu id="editors-menu" label="Editors">
  <item label="Vim">
    <action name="Execute"><command>uxterm -e vim</command></action>
  </item>
</menu>

<menu id="graphics-menu" label="Graphics">
  <item label="PDF Viewer (MuPDF)">
    <action name="Execute"><command>uxterm -T "MuPDF" -e sh -c "echo 'MuPDF Document Viewer'; echo 'Usage: mupdf &lt;file.pdf&gt;'; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="3D OpenGL Gears (glxgears)">
    <action name="Execute"><command>glxgears</command></action>
  </item>
  <item label="3D GPU Realtime Test (flx3dtest)">
    <action name="Execute"><command>uxterm -e flx3dtest</command></action>
  </item>
  <item label="GPU 3D &amp; DRM Diagnostics">
    <action name="Execute"><command>uxterm -e sh -c "/sbin/flxdriver gpu; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
</menu>

<menu id="games-menu" label="Games">
  <item label="Classic Doom">
    <action name="Execute"><command>doom</command></action>
  </item>
  <item label="BSD Tetris">
    <action name="Execute"><command>uxterm -T "BSD Tetris" -e tetris</command></action>
  </item>
</menu>

<menu id="network-menu" label="Network">
  <item label="Network Manager (CLI)">
    <action name="Execute"><command>uxterm -e flxnet</command></action>
  </item>
  <item label="Dillo Web Browser">
    <action name="Execute"><command>dillo</command></action>
  </item>
  <item label="Links Web Browser (Graphics)">
    <action name="Execute"><command>links -g</command></action>
  </item>
  <item label="Links Text Browser (Console)">
    <action name="Execute"><command>uxterm -e links</command></action>
  </item>
  <item label="w3m Text Browser">
    <action name="Execute"><command>uxterm -e w3m https://duckduckgo.com</command></action>
  </item>
</menu>

<menu id="sound-menu" label="Sound &amp; Video">
  <item label="Media Player (mpv)">
    <action name="Execute"><command>uxterm -T "mpv" -e sh -c "mpv --help; echo; printf 'Usage: mpv &lt;file/url&gt;\nPress Enter to close...'; read l"</command></action>
  </item>
  <item label="MPEG Audio Player (mpg123)">
    <action name="Execute"><command>uxterm -T "Audio Player" -e sh -c "mpg123 --help; echo; printf 'Usage: mpg123 &lt;file.mp3&gt;\nPress Enter to close...'; read l"</command></action>
  </item>
  <item label="TinyALSA Mixer (tinymix)">
    <action name="Execute"><command>uxterm -e sh -c "/usr/bin/tinymix; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Audio Cards &amp; Endpoints">
    <action name="Execute"><command>uxterm -e sh -c "/sbin/flxdriver audio; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
</menu>

<menu id="power-menu" label="Power &amp; Battery">
  <item label="Hardware &amp; Power Status">
    <action name="Execute"><command>uxterm -e sh -c "/usr/bin/flxpower status; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Set Governor: Performance">
    <action name="Execute"><command>uxterm -e sh -c "doas /usr/bin/flxpower governor performance; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Set Governor: Powersave">
    <action name="Execute"><command>uxterm -e sh -c "doas /usr/bin/flxpower governor powersave; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Suspend to RAM (Sleep)">
    <action name="Execute"><command>zzz</command></action>
  </item>
</menu>

<menu id="system-app-menu" label="System">
  <item label="Display Resolution (xrandr)">
    <action name="Execute"><command>uxterm -T "Display Resolution" -e sh -c "xrandr; echo; printf 'Usage: xrandr -s &lt;width&gt;x&lt;height&gt;\nPress Enter to close...'; read l"</command></action>
  </item>
  <item label="Keyboard Layout (AZ/US) (setxkbmap)">
    <action name="Execute"><command>uxterm -T "Keyboard Layout" -e sh -c "setxkbmap us,az -option grp:alt_shift_toggle &amp;&amp; echo 'Keyboard layout set to US/AZ (toggle: Alt+Shift)'; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Install FreeLinX to Disk">
    <action name="Execute"><command>uxterm -e sh -c "doas /sbin/flxinstall; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Drive Health &amp; SMART (smartctl)">
    <action name="Execute"><command>uxterm -T "Drive Health" -e sh -c "smartctl --scan; echo; printf 'Usage: smartctl -a /dev/sdX\nPress Enter to close...'; read l"</command></action>
  </item>
  <item label="UEFI Boot Manager (efibootmgr)">
    <action name="Execute"><command>uxterm -T "UEFI Boot Entries" -e sh -c "efibootmgr; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Hardware Inventory (flxdriver scan)">
    <action name="Execute"><command>uxterm -e sh -c "/sbin/flxdriver scan; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="PCI Hardware (lspci)">
    <action name="Execute"><command>uxterm -e sh -c "lspci -nn; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="USB Devices (lsusb)">
    <action name="Execute"><command>uxterm -e sh -c "lsusb; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Disk Usage (ncdu)">
    <action name="Execute"><command>uxterm -T "Disk Usage" -e ncdu /</command></action>
  </item>
  <item label="Process Monitor (htop)">
    <action name="Execute"><command>uxterm -T "Process Monitor" -e htop</command></action>
  </item>
  <item label="Process Tree (pstree)">
    <action name="Execute"><command>uxterm -e sh -c "pstree; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="System Information (pfetch)">
    <action name="Execute"><command>uxterm -e sh -c "pfetch; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
</menu>

<menu id="tools-menu" label="Tools">
  <item label="Clock (xclock)">
    <action name="Execute"><command>xclock</command></action>
  </item>
  <item label="Digital Clock">
    <action name="Execute"><command>xclock -digital</command></action>
  </item>
  <item label="Calculator (bc)">
    <action name="Execute"><command>uxterm -T "Calculator" -e sh -c "bc; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Lua 5.4 REPL">
    <action name="Execute"><command>uxterm -T "Lua Interactive Shell" -e lua</command></action>
  </item>
  <item label="Xeyes">
    <action name="Execute"><command>xeyes</command></action>
  </item>
  <item label="Xmag (Magnifier)">
    <action name="Execute"><command>xmag</command></action>
  </item>
  <item label="Custom Filesystem (flxfs)">
    <action name="Execute"><command>uxterm -e sh -c "flxfs --help; echo; printf 'Press Enter to close...'; read l"</command></action>
  </item>
</menu>

<menu id="applications-menu" label="Applications">
  <menu id="terminals-menu" />
  <menu id="files-menu" />
  <menu id="editors-menu" />
  <menu id="games-menu" />
  <menu id="graphics-menu" />
  <menu id="network-menu" />
  <menu id="sound-menu" />
  <menu id="power-menu" />
  <menu id="system-app-menu" />
  <menu id="tools-menu" />
</menu>

<menu id="root-menu" label="FreeLinX">
  <item label="Terminal Emulator (uxterm)">
    <action name="Execute">
      <command>uxterm -e /bin/sh -l</command>
    </action>
  </item>

  <item label="Terminal Emulator (urxvt)">
    <action name="Execute">
      <command>urxvt -e /bin/sh -l</command>
    </action>
  </item>

  <item label="Web Browser (Dillo)">
    <action name="Execute">
      <command>dillo</command>
    </action>
  </item>

  <item label="Links Browser (Graphics)">
    <action name="Execute">
      <command>links -g</command>
    </action>
  </item>

  <separator />

  <menu id="applications-menu" />

  <separator />

  <menu id="client-list-combined-menu" label="Workspaces" />

  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>

  <item label="Restart">
    <action name="Restart" />
  </item>

  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>